@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*{
    box-sizing: bord;
}

body{
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header{
    background-image: url("car-bg.jpg") ;
    color:white;
    min-height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center center;
}

.container {
    max-width: 1000px;
}
nav {
    display: flex;
}
nav .logo {
    font-size: ;
}

nav ul {
    display: flex;
}